parameters:
	ignoreErrors:
		-
			message: "#^Property Salient\\\\Changelog\\\\Command\\\\FromGitHubReleaseNotes\\:\\:\\$Flush is never written, only read\\.$#"
			count: 1
			path: src/Command/FromGitHubReleaseNotes.php

		-
			message: "#^Property Salient\\\\Changelog\\\\Command\\\\FromGitHubReleaseNotes\\:\\:\\$Headings is never written, only read\\.$#"
			count: 1
			path: src/Command/FromGitHubReleaseNotes.php

		-
			message: "#^Property Salient\\\\Changelog\\\\Command\\\\FromGitHubReleaseNotes\\:\\:\\$Merge is never written, only read\\.$#"
			count: 1
			path: src/Command/FromGitHubReleaseNotes.php

		-
			message: "#^Property Salient\\\\Changelog\\\\Command\\\\FromGitHubReleaseNotes\\:\\:\\$OutputFile is never written, only read\\.$#"
			count: 1
			path: src/Command/FromGitHubReleaseNotes.php

		-
			message: "#^Property Salient\\\\Changelog\\\\Command\\\\FromGitHubReleaseNotes\\:\\:\\$Quiet is never written, only read\\.$#"
			count: 1
			path: src/Command/FromGitHubReleaseNotes.php

		-
			message: "#^Property Salient\\\\Changelog\\\\Command\\\\FromGitHubReleaseNotes\\:\\:\\$RepoReportMissing is never written, only read\\.$#"
			count: 1
			path: src/Command/FromGitHubReleaseNotes.php

		-
			message: "#^Property Salient\\\\Changelog\\\\Command\\\\FromGitHubReleaseNotes\\:\\:\\$Repos is never written, only read\\.$#"
			count: 1
			path: src/Command/FromGitHubReleaseNotes.php
